###--------------------
# ignore swap files

*.swp


###----------------------
# ignore Step2_QualityCheck/figues

VMEDAQ_DataConversion/vmedata/
VMEDAQ_DataConversion/rootdata/

data/Test_Multi.dat
data/Test_Multi_L1L2EnergyCut.dat
data/Test_Multi_fGlobalMulti1.dat
